html
    head
        link(type="text/css", rel="stylesheet", href="bb8.css")
        title BB-8 CSS Illustration
    body
        .artboard

            .bb8
                
                .bb8-body
                    
                    .dot.dot-1
                        .line.line-1
                        .line.line-2
                        .line.line-3 
                    
                    .dot.dot-2
                    
                    .circles.circle-1
                    .circles.circle-2
                    .circles.circle-3
                    
                    .body-shadow

                .bb8-head
                    
                    .head-bottom
                        .head-side-1                        
                        .head-side-2
                        .head-bottom-base
                    .head-top-crop
                        .head-top

                    .lens
                    .freckle 
                        


                .speedlines
                    .one.tail 
                    .two.tail
                    .three
                    .four
                    .five.tail


                .sparkles
                    .one.sm
                    .two.blue.sm
                    .three.blue.med
                    .four.orange.lg
                    .five.orange.med
                    .six.orange.sm
                    .seven.lg
                    .eight.blue.med
                    .nine.orange.sm
                    .ten.orange.med
                    .eleven.orange.sm
                    .twelve.blue.med
                    .thirteen.red.sm
                    .fourteen.red.med
                    .fifteen.red.sm
                    .sixteen.red.sm

                .ground
                    .one
                        .bump
                    .two
                    .three
                    .four
                        .bump
                    .five
                    .six
                        .bump
                    .seven
                        .bump
                    .eight
                        .bump

